{deps, [{meck, ".*", {git, "https://github.com/eproxus/meck.git", "master"}}]}.

{erl_opts, [{i, "deps"}, {i, ".."}]}.
{port_envs, [{"CFLAGS", "-I $LINCAN_ROOT/include"}]}.
{so_specs, [{"priv/mqueue_nif.so", ["c_src/mqueue_nif.o"]},
            {"priv/CAN_nif.so", ["c_src/CAN_nif.o"]},
            {"priv/sick_nif.so", ["c_src/sick_drv.o"]}]}.
